<section 
  class="animate-fade-in animate-delay-500 mt-32 mx-auto flex flex-col justify-center items-center text-center text-secondary transform translate-y-10 scale-100 sm:scale-110 md:scale-150" style="transform: translateY(80px);">
  
  <!-- Título principal -->
  <h2 
    class="uppercase text-3xl sm:text-4xl font-semibold">
    <span 
      style="font-family: 'Hanson', sans-serif;" 
      class="text-primary">
      19 ENE
    </span> 
    <span aria-hidden class="hidden md:inline mx-1">|</span>
    <br aria-hidden class="block md:hidden" />
    <span style="font-family: 'Hanson', sans-serif;">
      3PM - 8PM
    </span>
  </h2>
  
  <!-- Subtítulo -->
  <h3 
    class="uppercase text-sm sm:text-lg tracking-[1px] sm:tracking-[2px] font-medium flex flex-col max-w-xs sm:max-w-sm mt-4 sm:mt-6">
    
    <span>GRAN TARDE DE ALABANZA</span>
    
    <span 
      class="whitespace-nowrap tracking-[0.5px] sm:tracking-[1px]">
      IPUC CUSULES, CRA. 10C #58-25
    </span>
  </h3>

  <!-- Botón de acción -->
  <style>
    li {
      margin: 0; 
      padding: 0;
      list-style-type: none;
    }
  
    a.hover:Scale-125:hover {
      display: inline-block;
    }
  </style>
  
  <a
      style="font-family: 'Hanson', sans-serif; border-radius: 4px;" 
      class="border-primary border-2 tracking-[1px] sm:tracking-[2px] font-medium uppercase text-base sm:text-lg px-4 py-1 sm:px-6 sm:py-2 mt-6 sm:mt-8 hover:bg-primary hover:scale-125 transition transform"
      rel="noopener noreferrer"
    >
      ¡CUPOS LIMITADOS!
  </a>
</section>
