<section 
  class="animate-fade-in animate-delay-500 mt-32 mx-auto flex flex-col justify-center items-center text-center text-secondary transform translate-y-10 scale-110">
  
  <!-- Título principal -->
  <h2 
    class="uppercase text-4xl font-semibold">
    <span 
      style="font-family: 'Hanson', sans-serif;" 
      class="text-primary">
      25 dic
    </span> 
    <span aria-hidden class="hidden md:inline mx-1">|</span>
    <br aria-hidden class="block md:hidden" />
    <span style="font-family: 'Hanson', sans-serif;">
      3PM - 7PM
    </span>
  </h2>
  
  <!-- Subtítulo -->
  <h3 
    class="uppercase text-lg tracking-[2px] font-medium flex flex-col max-w-sm mt-6">
    
    <span>GRAN TARDE DE ALABANZA</span>
    
    <!-- Aquí aseguramos que el texto no se divida en dos líneas -->
    <span 
      class="whitespace-nowrap tracking-[1px]">
      IPUC COSTA HERMOSA, CRA. 39A #32
    </span>
  </h3>

  <!-- Botón de acción -->
  <a
    class="border-primary border-2 font-medium uppercase text-lg px-6 py-2 mt-8 hover:bg-primary hover:scale-125 transition transform"
    href=""
    target="_blank"
    rel="noopener noreferrer"
  >
    ¡CUPOS LIMITADOS!
  </a>
</section>
