<section 
  class="animate-fade-in animate-delay-500 mt-24 mx-auto flex flex-col justify-center items-center text-center text-secondary transform translate-y-10 scale-110 sm:scale-125 md:scale-150" 
  style="transform: translateY(100px);"
>
  <!-- Título principal -->
  <h2 
    class="uppercase text-4xl sm:text-5xl font-semibold">
    <span 
      style="font-family: 'Hanson', sans-serif;" 
      class="text-primary text-4xl sm:text-6xl"
    >
      19 ENE
    </span> 
    <span aria-hidden class="hidden md:inline mx-2 text-2xl sm:text-3xl">|</span>
    <br aria-hidden class="block md:hidden" />
    <span 
      style="font-family: 'Hanson', sans-serif;" 
      class="text-4xl sm:text-6xl"
    >
      3PM - 8PM
    </span>
  </h2>

  <!-- Subtítulo -->
  <h3 
    class="uppercase text-base sm:text-xl tracking-[1px] sm:tracking-[2px] font-medium flex flex-col max-w-sm sm:max-w-md mt-6 sm:mt-8">
    <span class="text-lg sm:text-xl">GRAN TARDE DE ALABANZA</span>
    <span 
      class="whitespace-nowrap tracking-[1px] sm:tracking-[1.5px] text-base sm:text-lg"
    >
      IPUC CUSULES, CRA. 10C #58-25
    </span>
  </h3>

  <!-- Botón de acción -->
  <a
    style="font-family: 'Hanson', sans-serif; border-radius: 4px;" 
    class="border-primary border-2 tracking-[1.5px] sm:tracking-[2px] font-medium uppercase text-lg sm:text-xl px-6 py-2 sm:px-8 sm:py-3 mt-8 sm:mt-10 hover:bg-primary hover:scale-125 transition transform"
    rel="noopener noreferrer"
  >
    ¡CUPOS LIMITADOS!
  </a>
</section>
