/* src/styles/globals.css */
@font-face {
    font-family: 'metropolis';
    src: url('/fonts/metropolis.black-italic.otf') format('ttf');
    font-weight: bold;
    font-style: normal;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
