---
import Layout from "@/layouts/Layout.astro"

import Countdown from "@/secction/Countdown.astro"
import Footer from "@/secction/Footer.astro"
import Hero from "@/secction/Hero.astro"
import Info from "@/secction/Info.astro"
import PrincipalDate from "@/secction/PrincipalDate.astro"
---

<Layout title="Fervor">
	<Hero />
	<main>
		<PrincipalDate />
		<Info />
		<Countdown />
	</main>
	<Footer />
</Layout>
