<div class="fixed w-full h-full inset-0 bg-container">
</div>

<style>
  /* Contenedor principal */
  .bg-container {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    overflow: hidden;
  }

  /* Capa con la imagen de fondo y opacidad */
  .bg-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('./fondo-fervor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.21; /* Aquí establecemos la opacidad del fondo */
    animation: noise 0.2s infinite;
  }

</style>
